<div class="canvasHolder">
    <div class="canvasOverlay"></div>
    <canvas id="canvas"></canvas>
    <div class="container h-100 canvasText">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="display-3">Skinder</h1>
                <p class="lead mb-0">Join friends and shred the gnar</p>
            </div>
        </div>
    </div>
</div>

<nav class="navbar sticky-top navbar-custom">
    <div class="container">
        <div class="navbar-brand mb-0 h1 navbar-custom">Skinder</div>
        <a class="nav-link ml-auto" href="/">Home</a>
        <a class="nav-link" href="/create-user">Sign Up</a>
    </div>
</nav>
<div class="forum">
    <div class="container">
        <div class="row">
            <div class="col-md-12 forum-container">
            </div>
        </div>
    </div>
</div>