<canvas id="canvas"></canvas>

<div class="forum">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 mt-4">
                <a class="btn btn-light mb-4" href="/post">New Post</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 forum-container">
            </div>
        </div>
    </div>
</div>