<canvas id="canvas"></canvas>

{{!-- <div class="container"> --}}
    <div class="row">
        <div class="row">
            <div class="col-sm-2 mt-4">
                <a class="btn btn-light ml-5 mt-3" href="/forum">Forum</a>
            </div>
        </div>
        <div class="col-md-5 offset-md-3">
            <form id="forum-submit">
                <div class="form-group">
                    <label for="title" style="color: white; font-size: 24px"><strong>Title:</strong></label>
                    <input type="text" class="form-control" id="title" size="35">
                    <br />
                    <label for="body" style="color: white; font-size: 24px"><strong>Leave your tracks here:</strong></label>
                    <textarea class="form-control" rows="10" id="body"></textarea>
                    <br />
                    <button type="submit" class="btn btn-success submit btn-lg">Submit</button>
                </div>
            </form>
        </div>
    </div>
{{!-- </div> --}}