<header>
    <div class="overlay"></div>
    {{!-- <video playsinline="playsinline" autoplay="autoplay" muted="muted"
        loop="loop">
        <source
            src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4"
            type="video/mp4">
    </video> --}}
    <canvas id="canvas"></canvas>
    <div class="container h-50">
        <div class="d-flex h-50 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="display-3">Skinder</h1>
                <p class="lead mb-0">Join friends and shred the gnar</p>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Enter a city</h5>
                    <input type="search" id="place-search-input"
                        placeholder="Start Searching..." />
                </div>
            </div>
        </div>
    </div>
</div>