.list-group-item {
  line-height: 2.5;
}

/* Color Scheme:
white: #e0e4ee, 
blue: #4d6daf, 
black: #171d1b, 
navy: #15223b
*/

/* Typography */

.dark-text {
  color: #15223b;
}

body {
  background-color: #e0e4ee;
  font-family: "Bebas Neue", cursive;
  margin: 0;
  height: 100%;
}

/* NavBar */

.navbar-custom {
  background-color: #15223b;
  color: #e0e4ee;
}

/* Card styling */

.card-custom {
  background-color: #15223b;
  /* color: #e0e4ee; */
}

.card-text {
  color: white;
}

/* Header */

.header1 {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
/* .forum {
  background-image: url(../images/tracks.jpg);
} */

/* Canvas */

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    bottom,
    rgb(105, 173, 212) 0%,
    rgb(23, 82, 145) 84%
  );
  background-image: -o-linear-gradient(
    bottom,
    rgb(105, 173, 212) 0%,
    rgb(23, 82, 145) 84%
  );
  background-image: -moz-linear-gradient(
    bottom,
    rgb(105, 173, 212) 0%,
    rgb(23, 82, 145) 84%
  );
  background-image: -webkit-linear-gradient(
    bottom,
    rgb(105, 173, 212) 0%,
    rgb(23, 82, 145) 84%
  );
  background-image: -ms-linear-gradient(
    bottom,
    rgb(105, 173, 212) 0%,
    rgb(23, 82, 145) 84%
  );
}

.canvasHolder {
  position: relative;
  height: 400px;
  /* min-height: 25rem; */
  width: 100%;
  overflow: hidden;
}

.canvasOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.canvasText {
  position: relative;
  z-index: 2;
}
